.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    width: 22rem;
}

.sidebar__recommendation{
    margin-top: 2rem;
}
.recommendation-tittle{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.recommendation-tittle h4{
    color: #a3a3a3;
}

.recommendation-tittle a{
   text-decoration: none;

}


.sidebar__footer{
    font-size: 0.8rem;
    color: #cdcdcd;
    margin-top: 2rem;
}

.sidebar__links{
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
}
.sidebar__links li::after{
    content: "\2022";
    margin: 0 .3rem;
}

.sidebar__links li:last-child::after{
    content: "";
}

.sidebar__copyright{
    margin-top: 1.5rem;
}

@media only screen and (max-width:1024px){
    .sidebar{
        display: none;
    }
}